-content_for :page_title do
  New shipment item for #{h @shipment.order.formatted_id}

=form_for([@shipment, @shipment_item]) do |f|
  .row
    .col-md-6
      .form-group
        =f.label :order_item_id, class: 'control-label'
        =f.select :order_item_id, order_item_options_for_shipment_item_select(@shipment, @shipment_item), {}, class: 'form-control', autofocus: true
  .row
    .col-md-3
      .form-group
        =f.label :shipped_quantity, class: 'control-label'
        =f.number_field :shipped_quantity, class: 'form-control', min: 1, step: 1
    .col-md-3
      .form-group
        =f.label :external_line_no, class: 'control-label'
        =f.number_field :external_line_no, class: 'form-control', min: 1, step: 1
  .row
    .col-md-6
      =f.submit 'Save', class: 'btn btn-primary', title: 'Click here to save this shipment item.'
