<div class="cart-tile" ng-controller="cartController">
  <table>
    <tr>
      <th>SKU</th>
      <th>Description</th>
      <th>Price</th>
      <th>Qty.</th>
      <th>Total</th>
    </tr>
    <tr ng-repeat="item in order.items">
      <td ng-bind="item.sku"></td>
      <td ng-bind="item.description"></td>
      <td ng-bind="item.unit_price"></td>
      <td ng-bind="item.quantity"></td>
      <td ng-bind="item.extended_price"></td>
    </tr>
    <tr>
      <td colspan="4">Total</td>
      <td ng-bind="orderTotal"></td>
    </tr>
  </table>
</div>
