<div class="cart-tile" ng-controller="cartController">
  <h2 class="cart-header">Items</h2>
  <table class="table table-striped">
    <tr class="header-row">
      <th class="text-column">SKU</th>
      <th class="text-column">Description</th>
      <th class="number-column text-right">Price</th>
      <th class="number-column text-right">Qty.</th>
      <th class="number-column text-right">Total</th>
    </tr>
    <tr ng-repeat="item in order.items">
      <td ng-bind="item.sku"></td>
      <td ng-bind="item.description"></td>
      <td ng-bind="item.unit_price" class="number-column text-right"></td>
      <td ng-bind="item.quantity" class="number-column text-right"></td>
      <td ng-bind="item.extended_price" class="number-column text-right"></td>
    </tr>
    <tr class="summary-row">
      <td colspan="4" class="number-column text-right">Total</td>
      <td ng-bind="orderTotal()" class="number-column text-right"></td>
    </tr>
  </table>
</div>
