<div class="payment-tile" ng-controller="paymentController">
  <form id="payment-form" ng-submit="submitPayment()" ng-hide="submissionInProgress">
    <div class="form-group">
      <label for="card-number">Card Number</label>
      <div id="card-number"></div>
    </div>
    <div class="form-group">
      <label for="cvv">CVV</label>
      <div id="cvv"></div>
    </div>
    <div class="form-group">
      <label for="expiration-date">Expiration Date</label>
      <div id="expiration-date"></div>
    </div>
    <input id="submit-payment-button" type="submit" value="Submit" />
  </form>
</div>
