<div class="payment-tile" ng-controller="paymentController" ng-hide="submission.isComplete()">
  <div class="alert alert-danger" ng-repeat="error in errors">
    <button type="button" class="close" aria-label="Close" ng-click="removeError(error);">
      <span aria-hidden="true">&times;</span>
    </button>
    <span>{{ error }}</span>
  </div>
  <h2 class="payment-header">Payment</h2>
  <form id="payment-form" ng-submit="submitPayment()">
    <div class="form-group">
      <label class="control-label required" for="card-number">Card Number</label>
      <div class="braintree-field" id="card-number"></div>
    </div>
    <div class="form-group">
      <label class="control-label required" for="cvv">CVV</label>
      <div class="braintree-field" id="cvv"></div>
    </div>
    <div class="form-group">
      <label class="control-label required" for="expiration-date">Expiration Date</label>
      <div class="braintree-field" id="expiration-date"></div>
    </div>
    <input class="btn btn-primary" id="submit-payment-button" type="submit" value="Purchase Now" />
    <a class="btn btn-default" ng-href="{{browsePath}}" target="_self">Keep Shopping</a>
  </form>
</div>
