=content_for :page_title do
  Orders

=render_navigation level: 2
%table#order-table.table.table-striped.table-hover
  %tr
    %th Order date
    %th Client
    %th Customer name
    %th Total
    %th &nbsp;
  -@orders.each do |order|
    %tr
      %td= format_date(order.order_date)
      %td= order.client.name
      %td= order.customer_name
      %td= number_to_currency(order.total)
      %td
        -if order.new?
          =link_to edit_order_path(order), class: 'btn btn-xs btn-info edit-button', title: 'Click here to edit the order details' do
            %span.glyphicon.glyphicon-pencil{ 'aria-hidden' => true }
        -else
          =link_to order_path(order), class: 'btn btn-xs btn-info', title: 'Click here to view the order details' do
            %span.glyphicon.glyphicon-zoom-in{ 'aria-hidden' => true }
=will_paginate @orders, renderer: BootstrapPagination::Rails
=link_to 'Add', new_order_path, class: 'btn btn-primary', title: 'Click here to create an order'
