Order Confirmation

:plain

Your order for #{h number_to_currency(@order.total)} has been submitted. Your confirmation number is #{h @order.abbreviated_confirmation}.

:plain

For details, follow this link:
=order_url(@order.confirmation)
